body {
  background: url(./background-wave.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mt-8 {
  margin-top: 8rem;
}

li:not(:last-child) { 
    margin-bottom: 2rem;  
 }

 .nav-bg {
   background-color: azure;
 }